In [10]:
import requests as rg
import pandas as pd

In [13]:
dat = rg.get("https://api.covid19api.com/all").json()

In [14]:
Covid19_df = pd.DataFrame(dat)

In [15]:
Covid19_df.head()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-22T00:00:00Z
1,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-23T00:00:00Z
2,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-24T00:00:00Z
3,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-25T00:00:00Z
4,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-26T00:00:00Z

In [17]:
Covid19_df.columns

Index(['Country', 'CountryCode', 'Province', 'City', 'CityCode', 'Lat', 'Lon',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'Date'],
      dtype='object')

In [ ]:
set(Covid19_df.Country)

In [34]:
Covid19_df['Confirmed'].max()

1643246

## checking the country with heighest cases

In [35]:
Covid19_df.loc[Covid19_df['Confirmed']== 1643246]

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
434360,United States of America,US,,,,37.09,-95.71,1643246,97720,366736,1178790,2020-05-24T00:00:00Z

In [37]:
Covid19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435984 entries, 0 to 435983
Data columns (total 12 columns):
Country        435984 non-null object
CountryCode    435984 non-null object
Province       435984 non-null object
City           435984 non-null object
CityCode       435984 non-null object
Lat            435984 non-null object
Lon            435984 non-null object
Confirmed      435984 non-null int64
Deaths         435984 non-null int64
Recovered      435984 non-null int64
Active         435984 non-null int64
Date           435984 non-null object
dtypes: int64(4), object(8)
memory usage: 39.9+ MB

## Convert the Date column to Datetime

In [41]:
Covid19_df['Date'] = pd.to_datetime(Covid19_df['Date'])

In [42]:
Covid19_df.columns

Index(['Country', 'CountryCode', 'Province', 'City', 'CityCode', 'Lat', 'Lon',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'Date'],
      dtype='object')

In [135]:
Covid19_df.Country.nunique()

186

## Create a year and Month columns

In [48]:
def get_year(Date):
    return Date.year
def get_month(Date):
    return Date.month

In [49]:
Covid19_df['Year'] = Covid19_df["Date"].apply(get_year)
Covid19_df['Month'] = Covid19_df["Date"].apply(get_month)

In [50]:
Covid19_df.columns

Index(['Country', 'CountryCode', 'Province', 'City', 'CityCode', 'Lat', 'Lon',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'Date', 'Year', 'Month'],
      dtype='object')

## The year and Month with heighest case

In [56]:
print(Covid19_df['Year'].max())
print(Covid19_df['Month'].max())

2020
5

In [60]:
Covid19_df.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,Year,Month
435979,Zimbabwe,ZW,,,,-19.02,29.15,48,4,18,26,2020-05-20 00:00:00+00:00,2020,5
435980,Zimbabwe,ZW,,,,-19.02,29.15,51,4,18,29,2020-05-21 00:00:00+00:00,2020,5
435981,Zimbabwe,ZW,,,,-19.02,29.15,51,4,18,29,2020-05-22 00:00:00+00:00,2020,5
435982,Zimbabwe,ZW,,,,-19.02,29.15,56,4,18,34,2020-05-23 00:00:00+00:00,2020,5
435983,Zimbabwe,ZW,,,,-19.02,29.15,56,4,25,27,2020-05-24 00:00:00+00:00,2020,5

## The Total Number of Cases

In [58]:
Covid19_df[['Confirmed', 'Deaths', 'Recovered', 'Active']].sum()

Confirmed    232363325
Deaths        14877250
Recovered     56444831
Active       161058752
dtype: int64

## Import datetime for the calculation

In [93]:
import time
from datetime import datetime, timedelta

## Getting the date for the Calculation

In [103]:
today = datetime.today()
yesterday = today - timedelta(days=1)
print(yesterday)

2020-05-24 14:38:57.804609

## The Total Number of the cases as yesterday is:

In [119]:
Total_df =  Covid19_df.loc[Covid19_df['Date']=='2020-05-24']

In [120]:
Total_df['Confirmed'].sum()

7132807

{'C', 'n', 'o', 'r', 't', 'u', 'y'}